<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
         .cardAP {
            width: 890px;
            margin: 20px auto;
            border: 1px solid #ddd; /* Add border */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
            border-radius: 8px; /* Add border-radius for rounded corners */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">User Details</h1>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="cardAP card rounded bg-white p-4 pb-5 mb-5">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach((user, index) => { %>
                            <tr>
                                <th scope="row"><%= index + 1 %></th>
                                <td>
                                    <% if (user.image) { %>
                                        <img src="/uploads/<%= user.image %>" alt="<%= `${user.name}'s Profile` %>" class="img-thumbnail" style="max-width: 50px; height: 50px;">
                                    <% } %>
                                </td>
                                <td><%= user.name %></td>
                                <td><%= user.mobile %></td>
                                <td><%= user.email %></td>
                                <td>
                                    <a href="/edit/<%= user._id %>" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="/delete/<%= user._id %>" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
